a {
  color: green;
}
li{
  margin: 3px;
}
.navbar-brand{
  margin-left: 10px;
}
.card{
  padding: 10px;
  margin: 10px;
}
.btn-sm{
  padding: 2px 4px;
}
#receit{
  list-style-type: none;
  float: right;
}
